.country {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 49px;
  position: relative;
  background: url("@/assets/background.png") no-repeat;
  // mix-blend-mode: multiply;
  :global {
    .left {
      padding-top: 95px;
      width: 460px;
      .img-slider {
        display: flex;
        align-items: center;
        img {
          width: 32px;
          height: 32px;
          cursor: pointer;
        }
        .ant-carousel {
          width: 353px;
        }
        .img-slider-item {
          display: grid !important;
          grid-template-columns: repeat(3, 1fr);
          gap: 20px;
          padding: 0 21.5px;
          .img-slider-item-item {
            position: relative;
            // width: 90px;
            // height: 60px;
            img {
              width: auto;
              height: 100%;
              max-height: 100px;
              margin: 0 auto;
            }
            div {
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              line-height: 15px;
              background: rgba(0, 0, 0, 0.8);
              color: #b9e8ff;
              font-size: 10px;
              text-align: center;
            }
          }
        }
      }
      .top-job {
        .header {
          display: flex;
          background-color: #133159;
          line-height: 30px;
          span {
            flex: 0 0 20%;
            text-align: center;
          }
        }
        .job-list {
          height: 120px;
          .swiper-slide {
            display: flex;
          }
          .school-item {
            width: 100%;
            display: flex;
            text-align: center;
            &>div {
              flex: 0 0 20%;
              text-align: center;
              line-height: 30px;
              font-size: 12px;
              white-space: nowrap;
              min-width: 0;
              display: flex;
              justify-content: center;
            }
          }
        }
      }
      .top-train {
        .header {
          display: flex;
          background-color: #133159;
          line-height: 30px;
          span {
            font-size: 12px;
          }
          span:nth-child(1),
          span:nth-child(2) {
            flex: 0 0 20%;
            text-align: center;
          }
          span:nth-child(3),
          span:nth-child(4) {
            flex: 0 0 30%;
            text-align: center;
          }
        }
        .job-list {
          height: 120px;
          overflow-x: hidden;
          
            
          
        }
        .job-list-warap {
            display: flex;
            line-height: 30px;
          }
          .job-list1 {
              flex: 0 0 20%;
              display: flex;
              justify-content: center;
              font-size: 12px;
            }
            .job-list2 {
              flex: 0 0 30%;
              display: flex;
              justify-content: center;
              font-size: 12px;
            }
      }
    }
    .center {
      padding: 113px 40px 0 42px;
      flex: 1;
      .china {
        height: 700px;
        margin-bottom: 10px;
      }
      .center-data {
        display: flex;
        text-align: center;
        justify-content: space-between;
        align-items: end;
        .center-data-item {
          .numbers > div {
            width: 50px;
            font-size: 24px;
            font-family: "youshe";
          }
          .center-data-text {
            margin-top: 18px;
            font-size: 24px;
            font-family: "youshe";
          }
        }
        .center-data-center {
          .numbers > div {
            width: 66px;
            font-size: 40px;
          }
        }
      }
    }
    .right {
      width: 430px;
      padding-top: 77px;
      .line-data {
        height: 250px;
      }
      .range {
        margin-bottom: 12px;
        .range-picker {
          width: 100%;
        }
      }
      .create {
        padding: 0 28.5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .create-item {
          width: 175px;
          height: 104px;
          box-sizing: border-box;
          padding: 17px;
          display: flex;
          .create-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            flex: 1;
            & > div:nth-child(2) {
              color: #7cc4ff;
              margin-top: 8px;
            }
          }
        }
      }
    }
  }
}
